* {
  font-family: 'montserrat';
  text-align: center;
  .form {
    background-color: lightgray;
    padding: 30px;
    h3 {
      margin-top: 0;
      font-size: 2em;
    }
  }
  .image {
    z-index: -1;
    position: fixed;
    top: 100;
    left: 0;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    object-position: bottom;
  }
  .input {
    width: 200px;
    margin-right: 30px;
    font-size: 0.8em;
    padding: 6px;
  }
  .label {
    font-size: 1.4em;
  }
}