* {
  font-family: 'Courier New', Courier, monospace;
  .controls {
    display: flex;
    justify-content: space-around;
  }
  .display {
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
  }
}
